{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodSeller</title>

    <!-- crafted style for the project -->
    {% style "/assets/bulma/css/bulma.min.css" %}
  </head>
  <body>
    <div id="app">New div</div>    
    <img src="/img/warning_clojure.png"></img>
  </body>
</html>
{% endblock %}
