{% extends "base.html" %}
{% block content %}
<div class="container-fc">
  <div class="top"><span>FoodCamp</span>
    <p>Sua comida em 6 minutos</p></div>

  <!-- <img src="/img/warning_clojure.png" style="width:100px"></img> -->
  <h1>Primeiro, seu prato</h1>
  <div class="feed-roll">
    <ul>
      <li class="selection">
	<div>
	  <img alt="" src="img/1.jpg">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>
      <li class="selection">
	<div>
	  <img alt="" src="img/1.jpg">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>
      <li class="selection">
	<div>
	  <img alt="" src="img/1.jpg">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>
    </ul>
  </div>
  
  <h1>Agora, sua bebida</h1>

  <div class="feed-roll2">
    <ul>
      <li class="drink">
	<div>
	  <img alt="" src="img/2.png">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>
      <li class="drink">
	<div>
	  <img alt="" src="img/2.png">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>
      <li class="drink">
	<div>
	  <img alt="" src="img/2.png">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>

    </ul>
  </div>

  <h1>Por fim, sua sobremesa</h1>

  <div class="feed-roll3">
    <ul>
      <li class="dessert">
	<div>
	  <img alt="" src="img/3.png">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>
      
      <li class="dessert">
	<div>
	  <img alt="" src="img/3.png">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>

      <li class="dessert">
	<div>
	  <img alt="" src="img/3.png">
	</div>
	<a href="#"></a>
	<span class="title1">Tradicional Brasileiro</span>
	<span class="subtitle1">Arroz, feijão tropeiro, </br> salada e carne</span>
	<span class="price">R$ 14,90</span>
      </li>

    </ul>
  </div>

  <div class="footer">
    <p class="foot"><span>Selecione os 3 itens </br> para fechar seu pedido</span></p>
  </div>
  <script src="js/highlight-buys.js"></script>
</div>
{% endblock %}

